@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background: #23272e;
  --main-foreground: #d7dae0;
  --sideBar-background: #1e2227;
  --sideBar-foreground: #abb2bf;
  --statusBar-background: #1e2227;
  --statusBar-foreground: #9da5b4;
}

body {
  color: var(--main-foreground);
  background-color: var(--main-background);
}
