@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #23272e;
  --primary-text: #d7dae0;
  --statusBar-bg: #1e2227;
  --statusBar-text: #abb2bf;
}

body {
  color: var(--primary-text);
  background-color: var(--primary-bg);
}
